global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend dns_dot
    bind *:853 ssl crt /etc/haproxy/certs/dns.your.custom.domain.pem ssl-min-ver TLSv1.2
    mode tcp
    default_backend adguard_dns

backend adguard_dns
    mode tcp
    server adguard host.docker.internal:53 check 
